/* About Us Style sheet 

  Author: Gabe Haggard
  date: 11/24/18

*/

legend{
        font-family: 'Orbitron', sans-serif;
        color: lightgreen;
        text-shadow: 0 0 15px white;
        font-weight: bold;
}
p{
    font-family: 'Orbitron', sans-serif;
    color: lightgreen;
    text-shadow: 0 0 15px white;
    font-weight: bold;
}
fieldset{
    background:rgba(0, 0, 0, 0.808);
    position: relative;
    top: 150px;
    left: 275px;
    max-width: 1500px;
}

