/* Main Style sheet 

  Author: Gabe Haggard
  date: 11/21/18

*/

/* Header Section */
h1{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: lightgreen;
    text-shadow: 0 0 15px white;
    font-weight: bold;
}

/* Body Section */
body{
  background-image: url("../images/World-of-warcraft.jpg");
  height: 100%;
}
p{
  color: white;
  text-align: center;
}
ul{
   list-style-type: none;
   font-weight: bold;
}
a:link:hover, a:visited:hover{
  color: white;
  text-shadow: 0 0 15px lightgreen;
}
a:link,a:visited{
  text-decoration: none;
  color: black;
}

/* Navigation bar */

.topnav {
  background:rgba(0, 0, 0, 0.808);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Orbitron', sans-serif;
}
/* footer styles */
footer{
  position: absolute;
  bottom: 0;
  top: 1000px;
  clear: both;
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.808); 
}
p.bottomFooter{
  text-align: center;
  font-style: normal;
  font-size: 15px;
  padding: 5px;
  color: white;
}

/* Image Styles */
.TPGTLogo{
  position: fixed;
  top: 25px;
  left: 40px;
}
