/* Main Style sheet 

  Author: Gabe Haggard
  date: 11/21/18

*/

/* Header Section */
h1{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: lightgreen;
    text-shadow: 0 0 15px white;
    font-weight: bold;
}

/* Body Section */
body{
  background-color: black;
}
p{
  color: white;
  text-align: center;
}
aside{
  background-color:grey;
  position: fixed;
  top: 0;
  bottom: 0;
  left:0;
  right: 90%;
  z-index: -1;
}
ul{
   list-style-type: none;
   font-weight: bold;
}
.Home{
  font-family: 'Orbitron', sans-serif;
  font-weight: bold;
  position: absolute;
  top: 925px;
}
.navElements li {
  margin: 0 0 10px 0;
}
.navElements{
  font-family: 'Orbitron', sans-serif;
  position: relative;
  top: 200px;
}
a:link:hover, a:visited:hover{
  color: white;
  text-shadow: 0 0 15px lightgreen;
}
a:link,a:visited{
  text-decoration: none;
  color: black;
}

/* Image Styles */
.TPGTLogo{
  position: fixed;
  top: 25px;
  left: 40px;
}
