/* Main Style sheet 

  Author: Gabe Haggard
  date: 11/21/18

*/
body, html {
  height: 100%;
  margin: 0;
  margin-top: -10px;
}

/* Header Section */
h1, h2{
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    color: white;
    text-shadow: 0 0 15px lightgreen;
    font-weight: bold;
    font-size: 30px;
}


/* Body Section */

ul{
   list-style-type: none;
   font-weight: bold;
}
a{
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 0 0 15px lightgreen;
  font-weight: bold;
  text-align: center; 
}
a:link:hover, a:visited:hover{
  color: red;
  text-shadow: 0 0 15px lightgreen;
}
a:link,a:visited{
  text-decoration: none;
}
p{
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow: 0 0 15px lightgreen;
  font-weight: bold;
  text-align: center;
}
.mainContent{
  background:rgba(0, 0, 0, 0.808);
  width: 50%; 
}
/* Navigation bar */
nav{
  width: 100%;
}
.topnav {
  background:rgba(0, 0, 0, 0.808);
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Orbitron', sans-serif;
}
/* footer styles */
footer{
  margin-bottom: -50px;
  width:100%;
  height:60px; 
  clear: both;
  border-top: 2px solid rgba(0, 0, 0, 0.808); 
}
p.bottomFooter{
  text-align: center;
  font-style: normal;
  font-size: 15px;
  padding: 5px;
  color: white;
}